<div>
  <% if(message) { %>
    <p><%= message %></p>
  <% } %>
  <h1>My Blog Post</h1>
  <hr />
  <h2>Create a new Post</h2>
  <form method="post" action="/">
    <p>
      <label for="title">Title:</label>
      <input id="title" name="title" required />
    </p>
    <p>
      <label for="content">Content:</label>
      <input id="content" name="content" required />
    </p>
    <p>
      <input type="submit" value="create" />
    </p>
  </form>
  <hr />
  <div>
    <h2>All posts</h2>
    <% if(posts.length > 0) { %>
      <% posts.forEach((post) => {  %>
        <h3><%= post.title %></h3>
        <p><%= post.user.email %></p>
        <p><%= post.content %></p>
      <% }) %>
    <% } else { %>
      <p>No posts</p>
    <% } %>
  </div>
</div>
